<style>
    .modal {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 2000;
        display: grid;
        justify-items: center;
        align-content: center;
        gap: 0.5rem;
        padding: 1rem;
    }

    .modal.hidden {
        display: none;
    }

    .modal-body {
        z-index: 10;
        background-color: black;
        padding: 0.5rem;
        max-width: 100%;
        width: min(80vh, 80vw);
        height: min(80vh, 80vw);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }

    .modal-close {
        border: 1px solid white;
        background-color: crimson;
        padding: 1rem;
        border-radius: 1rem;
    }
</style>
