{{inline "svg-pop" `
<style>
    svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
        animation: svg-pop 0.4s ease-out 1;
    }

    .rev svg {
        transition: opacity 0.7s;
        opacity: 0;
    }

    .rev[data-hx-revealed] svg {
        animation: svg-pop 0.4s ease-out 1;
        opacity: 1;
    }

    @keyframes svg-pop {
        0% {
            transform: scale(0.0);
        }

        40% {
            transform: scale(1.15);
        }

        65% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(1.0);
        }
    }
</style>
`}}
