<script src="/static/script/swup.js"></script>
<script src="/static/script/swup-forms-plugin.js"></script>
{{if not prod}}
<script src="/static/script/swup-debug-plugin.js"></script>
{{end}}
<style>
    .scroll-target {
        background-color: transparent;
        min-height: 40px;
        min-width: 40px;
        position: absolute;
        top: 20vh;
    }

    main{
        position: relative;
    }
</style>
<script>
    function initScroll(){
        const root = document.documentElement;
        const mainElement = document.querySelector('main');
        const newDiv = document.createElement('div');
        newDiv.classList.add("scroll-target");
        mainElement.appendChild(newDiv);

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (!entry.isIntersecting) {
                    root.classList.add('scrolled');
                } else {
                    root.classList.remove('scrolled');
                }
            });
        }, { rootMargin: "0px 0px 0px 0px" });

        observer.observe(newDiv);
    }
</script>
<script>
    const swup = new Swup({
        containers: ['#swup', 'header', 'footer'],
        cache: false,
        {{if prod}}
        plugins: [new SwupFormsPlugin()]
        {{else}}
        plugins: [new SwupFormsPlugin(), new SwupDebugPlugin()]
        {{end}}
    });

    swup.hooks.on('page:view', (visit) => {
        htmx.process(document.body);
        {{template "views/scripts" .}}
    });

    document.addEventListener('DOMContentLoaded', () => {
        htmx.process(document.body);
        {{template "views/scripts" .}}
    });

    initScroll();

</script>
