<script src="/static/script/swup.js"></script>
<script src="/static/script/swup-forms-plugin.js"></script>
{{if not prod}}
<script src="/static/script/swup-debug-plugin.js"></script>
{{end}}
{{inline "scroll-control" `
<style>
    #scroll-target {
        background-color: transparent;
        min-height: 40px;
        min-width: 40px;
        position: absolute;
        top: 10vh;
    }

    main{
        position: relative;
    }
</style>
<script>
    function initScroll(){
        const header = document.querySelector('header');
        const scrollTargetBox = document.querySelector('main #scroll-target');
        header.classList.remove('scrolled');

        if (scrollTargetBox!==null){
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (!entry.isIntersecting) {
                        header.classList.add('scrolled');
                    } else {
                        header.classList.remove('scrolled');
                    }
                });
            }, { rootMargin: "0px 0px 0px 0px" });

            observer.observe(scrollTargetBox);
        }
    }
</script>
`}}
<script>
    const swup = new Swup({
        containers: ['#swup', 'header', 'footer'],
        cache: false,
        {{if prod}}
        plugins: [new SwupFormsPlugin()]
        {{else}}
        plugins: [new SwupFormsPlugin(), new SwupDebugPlugin()]
        {{end}}
    });

    swup.hooks.on('page:view', (visit) => {
        initScroll();
        htmx.process(document.body);
        {{template "views/scripts" .}}
    });

    document.addEventListener('DOMContentLoaded', () => {
        initScroll();
        htmx.process(document.body);
        {{template "views/scripts" .}}
    });


</script>
