{{inline "website-preset" `
<style>
    .rev.pop {
        transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
        opacity: 0;
        animation: none;
    }

    .rev.pop[data-hx-revealed] {
        animation: pop 0.7s ease-in-out;
    }

    .rev.slide {
        transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
        opacity: 0;
        transform: translateY(2rem);
    }

    .rev.slide[data-hx-revealed] {
        transform: translateY(0);
    }

    @keyframes pop {
        0% {
            transform: scale(0, 0)
        }

        30% {
            transform: scale(1.1, 1.1)
        }

        50% {
            transform: scale(0.9, 0.9)
        }

        65% {
            transform: scale(1.04, 1.04)
        }

        70% {
            transform: scale(0.98., 0.98)
        }

        75% {
            transform: scale(1, 1)
        }
    }

    .rev-image {
        transition: transform 500ms, opacity 1s;
        transform: translateX(-10rem);
        opacity: 0;
        border-radius: 1rem;
    }

    .rev-image[data-hx-revealed] {
        transform: translateX(0);
        opacity: 1;
    }

    .rev {
        transition: opacity 0.8s, transform 0.5s;
        opacity: 0;
    }

    .rev[data-hx-revealed="true"] {
        opacity: 1;
    }

    footer {
        padding: 4rem 2rem;
    }

    section {
        padding: 3rem 1rem;
    }

    .card {
        padding: 2rem 1rem;
    }

    .gen-image {
        border-radius: 1rem;
        object-fit: contain;
        max-height: 100%;
        width: 100%;
    }
</style>
`}}
